# Dependencies
node_modules
apps/*/node_modules
packages/*/node_modules

# Build outputs
.turbo
**/.turbo-cache
**/.next
**/build
packages/upup/dist
packages/upup/dist-node
apps/landing/public/documentation
coverage
playwright-report
storybook-static

# Logs
*.log

# Env files
.env
.env.*
!.env.example

# Editors
.DS_Store
.idea
.vscode

# Misc
*.tgz
