*.log
.DS_Store
node_modules
.cache
dist
.idea
.vscode

# storybook
storybook-static

# local env files
.env
.env.*
!.env.example

# public folder temp files
public
/stories/Uploader.stories.js

.vscode