@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .shadow-wrapper {
        box-shadow:
            0px 4px 50px 0px rgba(0, 0, 0, 0.08),
            0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    }

    .preview-scroll {
        /* width */
        &::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #eaeaea;
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #c5cafb;
            border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #c5cafb;
        }
    }
}

@layer utilities {
    .shadow-top {
        box-shadow: 0 -1px 0 0 rgba(128, 128, 128, 0.35);
    }
    .shadow-right {
        box-shadow: 1px 0 0 0 rgba(128, 128, 128, 0.35);
    }
    .shadow-bottom {
        box-shadow: 0 1px 0 0 rgba(128, 128, 128, 0.35);
    }
    .shadow-left {
        box-shadow: -1px 0 0 0 rgba(128, 128, 128, 0.35);
    }
}
