name: CI

on:
  pull_request:
    branches: [master]

jobs:
  build:
    name: Prettier check, Install dependencies and Build project

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'pnpm'

      - name : Prettier check
        run: npx prettier --check src/*.*

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm run build
